body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h4 {
    font-size: 21px;
    color: gray;
}

